<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">

    <!-- template stolen from https://github.com/csswizardry/vanilla/blob/master/index.html -->
    <title>X is a Y</title>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <div class="main">
    <header>
      <h1>The Xs are Ys</h1>
    </header>

    <a class="pure-button" href="/">Start over</a>
    <h3>Use this information however you see fit.</h3>
    <% @assignments.each do |assignment| %>
      <p>
        <%= assignment %>
      </p>
    <% end %>
  </div>
</body>
</html>
